body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

body {
    background-image: url("fondo.png");
  }

h1{
    color: floralwhite;
}

button { 
    padding: 10px 20px; 
    font-size: 16px; 
    margin-bottom: 20px; 
    cursor: pointer; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}

button:hover { 
    background-color: #0056b3; 
}

#pedidos-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.pedido { 
    padding: 10px; 
    margin: 5px auto; 
    width: 300px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 18px; 
}

.en-proceso { 
    background-color: yellow; 
}

.completado { 
    background-color: lightgreen; 
}

h3{
    color: whitesmoke;
}